################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OneAutomationFramework/config/applicationhost.config
*.exe
/OneAutomationFramework/allureResults
/OneAutomationFramework/bin
/OneAutomationFramework/obj
/.vs/OneAutomationFramework
**/*.csproj.user
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
.vs/
